@use './variables';
@use './mixins';
@use './extends';

html,
body {
  height: 100%;
  font-family: variables.$font-family--primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: variables.$color-grayscale--1000;
}

// TODO check if we can stop using @extend

h1 { // TODO: update definition for project.
  @include mixins.heading-h1();
}

h2 { // TODO: update definition for project.
  @include mixins.heading-h2();
}

h3 { // TODO: update definition for project.
  @include mixins.heading-h3();
}

h4 { // TODO: update definition for project.
  @include mixins.heading-h4();
}

h5 { // TODO: update definition for project.
  @include mixins.heading-h5();
}

h6 { // TODO: update definition for project.
  @include mixins.heading-h6();
}

p { // TODO: update definition for project.
  @include mixins.font(variables.$font-size--14);
}

/* stylelint-disable selector-class-pattern, selector-max-id */
#app {
  min-height: 100%;
}

.invisible {
  position: absolute;
  overflow: hidden;
  height: 0;
  width: 0;
  top: 0;
}
/* stylelint-enable */

[inline-template] { // Hides inline templates from flashing before rendering
  display: none;
}
