html,
body {
  height: 100%;
  font-family: $font-family--primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-grayscale--1000;
}

h1 { // TODO: update definition for project.
  @extend %heading-h1;
}

h2 { // TODO: update definition for project.
  @extend %heading-h2;
}

h3 { // TODO: update definition for project.
  @extend %heading-h3;
}

h4 { // TODO: update definition for project.
  @extend %heading-h4;
}

h5 { // TODO: update definition for project.
  @extend %heading-h5;
}

h6 { // TODO: update definition for project.
  @extend %heading-h6;
}

p { // TODO: update definition for project.
  @include font($font-size--14);
}

/* stylelint-disable selector-class-pattern, selector-max-id */
#app {
  min-height: 100%;
}

.invisible {
  position: absolute;
  overflow: hidden;
  height: 0;
  width: 0;
  top: 0;
}
/* stylelint-enable */

[inline-template] { // Hides inline templates from flashing before rendering
  display: none;
}
