{
  "presets": [
    ["env", {
      "modules": false
    }]
  ],
  "plugins": [
    "dynamic-import-node",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": ["env"]
    }
  }
}
