# Replace default '^' prefix with '~' to allow only minor package updates
save-prefix=~
legacy-peer-deps=true

# If set to true, then npm will stubbornly refuse to install (or even consider
# installing) any package that claims to not be.
engine-strict=true
