html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: $font-family--primary;
}

// global link definitions
a,
.e-link {
  border-bottom: 1px solid $color-grayscale--600;
  color: $color-grayscale--400;
  font-family: $font-family--primary;
  padding: 0 $spacing--10;
  text-decoration: none;

  &:focus,
  &--focus,
  &:hover,
  &--hover {
    color: $color-secondary--1;
    border-bottom: 1px solid $color-primary--1;
    text-decoration: none;
  }
}

h1 {
  @include font($font-size--18);
}

h2 {
  @include font($font-size--16);
}

h3 {
  @include font($font-size--14);
}

h4 {
  @include font($font-size--14);

  font-weight: $font-weight--bold;
}

h5 {
  @include font($font-size--14);
  
  font-weight: $font-weight--semi-bold;
}

h6 {
  @include font($font-size--14);
}

p {
  font-size: font($font-size--14);
  font-weight: 400;
}
