@use '../functions';

:root,
.use-theme--default,
[data-use-theme='DEFAULT'] {
  --theme-content-max-width: 1600px;
  --theme-content-padding: 2rem;
  // section
  --theme-font-family--headline: 'Source Sans Pro', 'Trebuchet MS', Arial, sans-serif;
  --theme-font-family--text: 'Source Sans Pro', 'Trebuchet MS', Arial, sans-serif;
  --theme-font-color--headline: #1a1a1a;
  --theme-font-color--text: #1a1a1a;
  --theme-font-size--base: 16px;
  // section
  --theme-color-primary--1: #1a1a1a;
  --theme-color-primary--2: #000000;
  --theme-color-primary--3: #ffffff;
  // section
  --theme-color-primary--1-rgb: #{functions.calc-rgb(#1a1a1a)};
  --theme-color-primary--2-rgb: #{functions.calc-rgb(#000000)};
  --theme-color-primary--3-rgb: #{functions.calc-rgb(#ffffff)};
  // section
  --theme-color-secondary--1: #2c68a0;
  --theme-color-secondary--2: #75b4e0;
  --theme-color-secondary--3: #2fa61c;
  --theme-color-secondary--4: #b50f0f;
  --theme-color-secondary--5: #e2951f;
  // section
  --theme-color-secondary--1-rgb: #{functions.calc-rgb(#2c68a0)};
  --theme-color-secondary--2-rgb: #{functions.calc-rgb(#75b4e0)};
  --theme-color-secondary--3-rgb: #{functions.calc-rgb(#2fa61c)};
  --theme-color-secondary--4-rgb: #{functions.calc-rgb(#b50f0f)};
  --theme-color-secondary--5-rgb: #{functions.calc-rgb(#e2951f)};
  // section
  --theme-color-gradient--1-0: #000000;
  --theme-color-gradient--1-1: #ffffff;
  --theme-color-gradient--2-0: #2c68a0;
  --theme-color-gradient--2-1: #75b4e0;
  // section
  --theme-color-status--success: #2fa61c;
  --theme-color-status--danger: #e2951f;
  --theme-color-status--error: #b50f0f;
  --theme-color-status--info: #75b4e0;
  // section
  --theme-color-status--success-rgb: #{functions.calc-rgb(#2fa61c)};
  --theme-color-status--danger-rgb: #{functions.calc-rgb(#e2951f)};
  --theme-color-status--error-rgb: #{functions.calc-rgb(#b50f0f)};
  --theme-color-status--info-rgb: #{functions.calc-rgb(#75b4e0)};
  // section
  --theme-color-grayscale--0: #000000;
  --theme-color-grayscale--100: #1a1a1a;
  --theme-color-grayscale--200: #333333;
  --theme-color-grayscale--300: #4d4d4d;
  --theme-color-grayscale--400: #666666;
  --theme-color-grayscale--500: #808080;
  --theme-color-grayscale--600: #999999;
  --theme-color-grayscale--700: #b3b3b3;
  --theme-color-grayscale--800: #cccccc;
  --theme-color-grayscale--900: #e6e6e6;
  --theme-color-grayscale--1000: #ffffff;
  // section
  --theme-color-grayscale--0-rgb: #{functions.calc-rgb(#000000)};
  --theme-color-grayscale--100-rgb: #{functions.calc-rgb(#1a1a1a)};
  --theme-color-grayscale--200-rgb: #{functions.calc-rgb(#333333)};
  --theme-color-grayscale--300-rgb: #{functions.calc-rgb(#4d4d4d)};
  --theme-color-grayscale--400-rgb: #{functions.calc-rgb(#666666)};
  --theme-color-grayscale--500-rgb: #{functions.calc-rgb(#808080)};
  --theme-color-grayscale--600-rgb: #{functions.calc-rgb(#999999)};
  --theme-color-grayscale--700-rgb: #{functions.calc-rgb(#b3b3b3)};
  --theme-color-grayscale--800-rgb: #{functions.calc-rgb(#cccccc)};
  --theme-color-grayscale--900-rgb: #{functions.calc-rgb(#e6e6e6)};
  --theme-color-grayscale--1000-rgb: #{functions.calc-rgb(#ffffff)};
}
