// @import "../functions/strip-unit";

////
// Calculate rem font-size for given pixel value based on base font-size
//
// @param  {Number}       [$size-value = $font-size--default]     The target font-size as pixel length
//
// @returns {font-size}   font-size property with rem value
////
@mixin font-size($size-value: $_config--font-size) {
  $browser-default: 16px;

  font-size: ( strip-unit($size-value) / strip-unit($browser-default) ) + rem;
}
