@use 'sass:map';
@use '../variables';

@mixin hover-effect--default($transition: false) {
  @if $transition == true {
    transition: all map.get(variables.$transitions, 'default');
  }

  /* stylelint-disable nesting-selector-no-missing-scoping-root */
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  /* stylelint-enable nesting-selector-no-missing-scoping-root */
}
