@use "sass:list";

////
// Adds the given icon as a background image to the wrapping element.
//
// Hint: use 'color' on the element instead of an explicit color for the icon when ever possible.
//
// @param  {String}   State the icon
//
////
@mixin icon($icon, $size: 24px, $color: currentColor, $mask: true) { // Keep size in sync with e-icon.
  $width: $size;
  $height: $size;

  @if list.length($size) == 2 {
    $height: list.nth($size, 2);
  }

  background: url('../assets/icons.svg##{$icon}') no-repeat center center / $width $height; // Legacy support. No color applied.

  @if mask {
    @supports (mask: no-repeat) {
      background: $color;
      mask: url('../assets/icons.svg##{$icon}') no-repeat center center / $width $height;
    }
  }
}
