// For common breakpoints setup
// @see https://polypane.app/blog/css-breakpoints-used-by-popular-css-frameworks/

$breakpoints: (
  // Keep in sync with JS globals!
  xxs: 0,
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1440px
);
