// keep in sync with app/setup/js/_color.js
// The main colors are in the theme files (setup/scss/themes)

$color-grayscale--0: #000000;
$color-grayscale--200: #646464;
$color-grayscale--300: #8f8f8f;
$color-grayscale--400: #afafaf;
$color-grayscale--500: #d8d8d8;
$color-grayscale--600: #f3f3f3;
$color-grayscale--700: #fcfcfc;
$color-grayscale--1000: #ffffff;

$color-gradient--1-0: $color-grayscale--0;
$color-gradient--1-1: $color-grayscale--1000;

// CSS Variables
$color-primary--1: var(--theme-color-primary-1);
$color-primary--1--rgb: var(--theme-color-primary-1--rgb);
$color-primary--2: var(--theme-color-primary-2);
$color-primary--2--rgb: var(--theme-color-primary-2--rgb);
$color-primary--3: var(--theme-color-primary-3);
$color-primary--3--rgb: var(--theme-color-primary-3--rgb);

$color-secondary--1: var(--theme-color-secondary-1);
$color-secondary--1--rgb: var(--theme-color-secondary-1--rgb);
$color-secondary--2: var(--theme-color-secondary-2);
$color-secondary--2--rgb: var(--theme-color-secondary-2--rgb);
$color-secondary--3: var(--theme-color-secondary-3);
$color-secondary--3--rgb: var(--theme-color-secondary-3--rgb);
$color-secondary--4: var(--theme-color-secondary-4);
$color-secondary--4--rgb: var(--theme-color-secondary-4--rgb);
$color-secondary--5: var(--theme-color-secondary-5);
$color-secondary--5--rgb: var(--theme-color-secondary-5--rgb);

$color-gradient--2-0: var(--theme-color-gradient-2-0);
$color-gradient--2-0--rgb: var(--theme-color-gradient-2-0--rgb);
$color-gradient--2-1: var(--theme-color-gradient-2-1);
$color-gradient--2-1--rgb: var(--theme-color-gradient-2-1--rgb);

$color-status--success: var(--theme-color-status-success);
$color-status--success--rgb: var(--theme-color-status-success--rgb);
$color-status--danger: var(--theme-color-status-danger);
$color-status--danger--rgb: var(--theme-color-status-danger--rgb);
$color-status--error: var(--theme-color-status-error);
$color-status--error--rgb: var(--theme-color-status-error--rgb);
$color-status--info: var(--theme-color-status-info);
$color-status--info--rgb: var(--theme-color-status-info--rgb);
