// Font families
$font-family--primary: 'Source Sans Pro', 'Trebuchet MS', Arial, sans-serif;

// Font weight
$font-weight--regular: 400;
$font-weight--semi-bold: 600;
$font-weight--bold: 700;

// Font size
$font-size--10: 10px;
$font-size--12: 12px;
$font-size--14: 14px;
$font-size--16: 16px;
$font-size--18: 18px;
$font-size--24: 24px;
$font-size--30: 30px;

// Line height
$line-height--18: 18px;
$line-height--20: 20px;
$line-height--25: 25px;
$line-height--30: 30px;
