// Variables, mixins and functions
// NOTE: globals must also be imported in webpack.config.js via 'sass-resources-loader'
@import "scss/variables";
@import "scss/config";
@import "scss/functions";
@import "scss/mixins";
@import "scss/extends";

// Font imports
@import "scss/font";

/* critical:start */

// Style reboot
@import "scss/reboot";

// Global styles
@import "scss/spacings";
@import "scss/global";

/* critical:end */

// Vendor styles
// - Note: don't add *.css extension to import. Else the style will be moved to top of output file!
@import "~swiper/dist/css/swiper";
