/* critical:start */

// Variables, mixins and functions
// NOTE: globals must also be imported in webpack.config.js via 'sass-resources-loader'
@import "scss/variables";
@import "scss/functions";
@import "scss/mixins";

// Vendor styles
@import "~bootstrap/scss/bootstrap-reboot";
// @import "~bootstrap/scss/bootstrap-grid";

// Global styles
@import "scss/spacings";
@import "scss/global";

/* critical:end */

@import "scss/font";
