@use '../setup/scss/mixins';
@use '../setup/scss/variables';

.c-form {
  &__field + &__field {
    margin-top: variables.$spacing--20;
  }

  &__actions {
    margin-top: variables.$spacing--60;

    .e-button {
      @include mixins.media(sm) {
        display: inline-block;
        width: auto;
      }
    }

    .e-button + .e-button {
      margin-top: variables.$spacing--20;

      @include mixins.media(sm) {
        margin: 0 0 0 variables.$spacing--20;
      }
    }
  }
}
