@use 'sass:color';

////
// Calculates the rgb value of a HEX value
//
// @param   {string}    $hex       hex value
//
// @returns {string}    RGB value like "100,100,100"
////
@function calc-rgb($hex) {
  $red: color.channel($hex, 'red', $space: rgb);
  $green: color.channel($hex, 'green', $space: rgb);
  $blue: color.channel($hex, 'blue', $space: rgb);

  @return $red, $green, $blue;
}
