@use 'sass:math';

////
// Calculate em for given pixel $values based on $context font-size
//
// @param   {List}    $values       To be converted pixel values
// @param   {Number}  [$context]    Font-size for em calculation
//
// @returns {List}    Converted pixel values
////
@function calc-em($values, $context: $_config--font-size) {
  $result: ();

  @each $value in $values {
    $result: append($result, 1em * (math.div($value, $context)));
  }

  @return $result;
}
