////
// Calculate unit less line height by given $line-height px value and $font-size px value
//
// @param  {Number}    [$line-height = $line-height--default]    Pixel value for desired line height
// @param  {Number}    [$font-size = $font-size--default]        Pixel value of desired font size
//
// @returns   {line-height}   line-height property with unit less value
////
@mixin line-height($line-height: $_config--line-height, $font-size: $_config--font-size) {
  line-height: strip-unit($line-height) / strip-unit($font-size);
}
