// Colors
$_color-value--black: #000000;
$_color-value--white: #ffffff;

// Color variables
$color--alpha-1: #9fc204;
$color--alpha-2: #54666f;

$color-status--success: #8dc63f;
$color-status--failed: #c60651;
$color-status--warning: #ffa500;

$color-gray--white: $_color-value--white;
$color-gray--500: #7d7d7d;
$color-gray--black: $_color-value--black;
