// Colors
$_color-value--black: #000;
$_color-value--white: #fff;

// Color variables
$color--alpha-1: #9FC204;
$color--alpha-2: #54666F;

$color-status--success: #8DC63F;
$color-status--failed: #C60651;
$color-status--warning: #FFA500;

$color-gray--white: $_color-value--white;
$color-gray--500: #7d7d7d;
$color-gray--black: $_color-value--black;
