// keep in sync with app/setup/js/_color.js

$color-primary--1: #ffed00;
$color-primary--2: #000000;
$color-primary--3: #ffffff;

$color-secondary--1: #2c68a0;
$color-secondary--2: #75b4e0;
$color-secondary--3: #2fa61c;
$color-secondary--4: #b50f0f;
$color-secondary--5: #e2951f;

$color-grayscale--200: #646464;
$color-grayscale--400: #afafaf;
$color-grayscale--300: #d8d8d8;
$color-grayscale--600: #f3f3f3;
$color-grayscale--800: #fcfcfc;

$color-gradient--1-0: $color-primary--2;
$color-gradient--1-1: $color-primary--3;
$color-gradient--2-0: $color-secondary--1;
$color-gradient--2-1: $color-secondary--2;

$color-status--success: $color-secondary--3;
$color-status--warning: $color-secondary--5;
$color-status--danger: $color-secondary--4;
$color-status--info: $color-secondary--2;
