// Font families
$font-family--primary: 'Source Sans Pro', 'Trebuchet MS', Arial, sans-serif;

// Font weight
$font-weight--regular: 400;
$font-weight--semi-bold: 600;
$font-weight--bold: 700;

// Font size
$font-size--10: 10px;
$font-size--12: 12px;
$font-size--14: 14px;
$font-size--16: 16px;
$font-size--18: 18px;
