// Basic
// Applies to all media types with the defined min-width.
$media--xxs-min: "all";
$media--xs-min: "all and (min-width: $screen-xs)";
$media--sm-min: "all and (min-width: $screen-sm)";
$media--md-min: "all and (min-width: $screen-md)";
$media--lg-min: "all and (min-width: $screen-lg)";
$media--xl-min: "all and (min-width: $screen-xl)";

// One size only
// Applies to all media types which match the defined min-width and max-width.
$media--xxs-only: "all and (max-width: $screen-xxs-max)";
$media--xs-only: "all and (min-width: $screen-xs) and (max-width: $screen-xs-max)";
$media--sm-only: "all and (min-width: $screen-sm) and (max-width: $screen-sm-max)";
$media--md-only: "all and (min-width: $screen-md) and (max-width: $screen-md-max)";
$media--lg-only: "all and (min-width: $screen-lg) and (max-width: $screen-lg-max)";
$media--xl-only: "all and (min-width: $screen-xl)";

// Only until (and inclusive) defined width
// Applies to all media types with the defined max-width
$media--xxs-max: "all and (max-width: $screen-xxs-max)";
$media--xs-max: "all and (max-width: $screen-xs-max)";
$media--sm-max: "all and (max-width: $screen-sm-max)";
$media--md-max: "all and (max-width: $screen-md-max)";
$media--lg-max: "all and (max-width: $screen-lg-max)";
$media--xl-max: "all and (max-width: $screen-xl-max)";

// Basic: SCREEN ONLY
// Applies to screen with the defined min-width
// Use this for definitions, that should only be valid for screens (e.g. button-definitions that should not be printed)"
$media-screen--xxs-min: "screen";
$media-screen--xs-min: "screen and (min-width: $screen-xs)";
$media-screen--sm-min: "screen and (min-width: $screen-sm)";
$media-screen--md-min: "screen and (min-width: $screen-md)";
$media-screen--lg-min: "screen and (min-width: $screen-lg)";
$media-screen--xl-min: "screen and (min-width: $screen-xl)";

// One size only: SCREEN ONLY
$media-screen--xxs-only: "screen and (max-width: $screen-xxs-max)";
$media-screen--xs-only: "screen and (min-width: $screen-xs) and (max-width: $screen-xs-max)";
$media-screen--sm-only: "screen and (min-width: $screen-sm) and (max-width: $screen-sm-max)";
$media-screen--md-only: "screen and (min-width: $screen-md) and (max-width: $screen-md-max)";
$media-screen--lg-only: "screen and (min-width: $screen-lg) and (max-width: $screen-lg-max)";
$media-screen--xl-only: "screen and (min-width: $screen-xl)";

// Only until (and inclusive) defined width: SCREEN ONLY
$media-screen--xxs-max: "screen and (max-width: $screen-xxs-max)";
$media-screen--xs-max: "screen and (max-width: $screen-xs-max)";
$media-screen--sm-max: "screen and (max-width: $screen-sm-max)";
$media-screen--md-max: "screen and (max-width: $screen-md-max)";
$media-screen--lg-max: "screen and (max-width: $screen-lg-max)";

// PRINT ONLY
//$media-print: "print and ";
