// Keep variables for better IDE support/auto complete
$spacing--0: 0;
$spacing--1: 1px;
$spacing--2: 2px;
$spacing--5: 5px;
$spacing--10: 10px;
$spacing--15: 15px;
$spacing--20: 20px;
$spacing--25: 25px;
$spacing--30: 30px;
$spacing--35: 35px;
$spacing--40: 40px;
$spacing--45: 45px;
$spacing--50: 50px;
$spacing--55: 55px;
$spacing--60: 60px;
$spacing--70: 70px;
$spacing--80: 80px;
$spacing--90: 90px;
$spacing--100: 100px;
$spacing--200: 200px;

$spacings: (
  $spacing--0,
  $spacing--5,
  $spacing--10,
  $spacing--15,
  $spacing--20,
  $spacing--25,
  $spacing--30,
  $spacing--40,
  $spacing--50,
  $spacing--55,
  $spacing--60,
  $spacing--70,
  $spacing--80,
  $spacing--90,
  $spacing--100,
  $spacing--200,
);
