/* Notes:
 * - Dont import "vuetify/src/stylus/app" since it will also add reset and element styles which conflict with our styles.
 * - Try to import styles inside the specific component first. By default styles should be imported automatically when importing components.
 */

@import "~vuetify/src/stylus/settings/_variables.styl";
@import "~vuetify/src/stylus/generic/_transitions.styl";
@import "~material-design-icons-iconfont/dist/material-design-icons.css";
