// Use styleguide.styles.js to customize styles by default. Only define new styles here if the JS approach does not work.

article[class^='rsg'] {
  margin-bottom: $spacing--100;
}

// Default CSS Variable definition is needed for component styleguide
$theme-default: (
  color-primary-1: #ffed00,
  color-primary-2: #000000,
  color-primary-3: #ffffff,
  color-secondary-1: #2c68a0,
  color-secondary-2: #75b4e0,
  color-secondary-3: #2fa61c,
  color-secondary-4: #b50f0f,
  color-secondary-5: #e2951f,
  color-gradient-2-0: #2c68a0,
  color-gradient-2-1: #75b4e0,
  color-status-success: #2fa61c,
  color-status-warning: #e2951f,
  color-status-danger: #b50f0f,
  color-status-info: #75b4e0
);

:root {
  @each $name, $color in $theme-default {
    --theme-#{$name}: #{$color};
    --theme-#{$name}--rgb: #{calc-rgb($color)};
  }
}
